[gcode_macro G28.1]
; Macro for checking the status of all axes and generating a G28 command for those axes that are not yet home
#rename_existing: G28.1
gcode:
    {% set home_axes = "" %}
    {% if "x" not in printer.toolhead.homed_axes and "y" not in printer.toolhead.homed_axes %}
        {% set home_axes = home_axes + "X Y" %}
    {% elif "x" not in printer.toolhead.homed_axes %}
        {% set home_axes = home_axes + "X" %}
    {% elif "y" not in printer.toolhead.homed_axes %}
        {% set home_axes = home_axes + "Y" %}
    {% endif %}
    {% if "z" not in printer.toolhead.homed_axes %}
        {% set home_axes = home_axes + " Z" %}
    {% endif %}
    {% if home_axes != "" %}
        {% if printer.extruder.temperature <= 150 %}
            SET_LED_EFFECT EFFECT=hotkey_led_button_1_activated REPLACE=1
            status_homing
            G28 {home_axes}
            status_ready
            SET_LED_EFFECT EFFECT=hotkey_led_button_1_done REPLACE=1
        {% else %}
            M118 !!! No se puede hacer Home Z, hotend demasiado caliente
        {% endif %}

    {% endif %}
    _HOTKEY_SET_CURRENT_STATE

[gcode_macro _CQGL]
; QGL if not already done.
gcode: 
    {% if printer.quad_gantry_level.applied == False %}
	   G28.1
	   M118 QUAD GANTRY LEVEL
       SET_LED_EFFECT EFFECT=hotkey_led_button_5_activated REPLACE=1
	   status_leveling
       CLEAN_NOZZLE
       QUAD_GANTRY_LEVEL
	   status_homing
	   G28 Z
    {% endif %}
	#status_ready
    _HOTKEY_SET_CURRENT_STATE
	M118 QGL Hecho   
