####################################################################################
#	Macros
####################################################################################

# Pause/Resume Functionality
[pause_resume]

[display_status]

[gcode_macro CANCEL_PRINT]  # Cancelar Impresionm
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
    G91
    G1 Z+5 F600
    G90
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    #SDCARD_RESET_FILE
    BASE_CANCEL_PRINT


[gcode_macro PAUSE]#暂停打印
rename_existing: BASE_PAUSE
gcode:
    ##### set defaults #####
    {% set x = params.X|default(230) %}      #edit to your park position
    {% set y = params.Y|default(230) %}      #edit to your park position
    {% set z = params.Z|default(10)|float %} #edit to your park position
    {% set e = params.E|default(1) %}        #edit to your retract length
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% set lift_z = z|abs %}
    {% if act_z < (max_z - lift_z) %}
        {% set z_safe = lift_z %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### end of definitions #####
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{e} F2100
    G1 Z{z_safe}
    G90
    G1 X{x} Y{y} F6000 
    
[gcode_macro RESUME]#恢复打印
rename_existing: BASE_RESUME
gcode:
    ##### set defaults #####
    {% set e = params.E|default(1) %} #edit to your retract length
    G91
    G1 E{e} F2100
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME

[gcode_macro G32]#龙门架调平宏
gcode:
    BED_MESH_CLEAR
    G28
    QUAD_GANTRY_LEVEL
    G28
    G0 X150 Y150 Z30 F3600

#---------------------------------------------------------------------------------------------------
#     Macro de inicio de impresión 
#---------------------------------------------------------------------------------------------------     
#[gcode_macro PRINT_START] 
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
#gcode:
#    BED_MESH_CLEAR                 # Descargar el mapa de la cama
#    G28                            # Home de XYZ
#    QUAD_GANTRY_LEVEL              # Nivelar el Quantry
#    BED_MESH_PROFILE LOAD=default  # Cargar la malla por defecto
#    G90
#    G92 E0 ;Reset Extruder
#    G1 Z2.0 F3000 ;Move Z Axis up
#    G1 X10.1 Y20 Z0.28 F5000.0 ;Move to start position
#    G1 X10.1 Y200.0 Z0.28 F1500.0 E15 ;Draw the first line
#    G1 X10.4 Y200.0 Z0.28 F5000.0 ;Move to side a little
#    G1 X10.4 Y20 Z0.28 F1500.0 E30 ;Draw the second line
#    G92 E0 ;Reset Extruder
#    G90

#####################################################################
#   print_start macro
#####################################################################

## *** THINGS TO UNCOMMENT: ***
## Bed mesh (2 lines at 2 locations)
## Z_TILT_ADJUST if your printer is a Trident
## Quad gantry level if your printer is a V2
## Nevermore - if you have one

[gcode_macro PRINT_START]
gcode:
  # This part fetches data from your slicer. Such as bed temp, extruder temp, chamber temp and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_chamber = params.CHAMBER|default("40")|int %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

  # Homes the printer, sets absolute positioning and updates the Stealthburner leds.
  STATUS_HOMING         # Sets SB-leds to homing-mode
  G28                   # Full home (XYZ)
  G90                   # Absolut position

  ##  Uncomment for bed mesh (1 of 2)
  #BED_MESH_CLEAR       # Clears old saved bed mesh (if any)

  # Checks if the bed temp is higher than 90c - if so then trigger a heatsoak.
  {% if params.BED|int > 90 %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Displays info
    STATUS_HEATING                                      # Sets SB-leds to heating-mode
    M106 S255                                           # Turns on the PT-fan

    ##  Uncomment if you have a Nevermore.
    SET_FAN_SPEED FAN=nevermore_fan SPEED=0.75          # Turns on the nevermore

    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Goes to center of the bed
    M190 S{target_bed}                                  # Sets the target temp for the bed
    SET_DISPLAY_TEXT MSG="Heatsoak: {target_chamber}c"  # Displays info
    TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={target_chamber}   # Waits for chamber to reach desired temp

  # If the bed temp is not over 90c, then it skips the heatsoak and just heats up to set temp with a 5min soak
  {% else %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Displays info
    STATUS_HEATING                                      # Sets SB-leds to heating-mode
    bed_led_heating
    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Goes to center of the bed
    M190 S{target_bed}                                  # Sets the target temp for the bed
    SET_DISPLAY_TEXT MSG="Soak for 3min"                # Displays info
    G4 P180000                                          # Waits 3 min for the bedtemp to stabilize
  {% endif %}

  # Heating nozzle to 150 degrees. This helps with getting a correct Z-home
  SET_DISPLAY_TEXT MSG="Hotend: 150c"          # Displays info
  M109 S150                                    # Heats the nozzle to 150c

  ##  Uncomment for V2 (Quad gantry level AKA QGL)
  SET_DISPLAY_TEXT MSG="QGL"      # Displays info
  STATUS_LEVELING                 # Sets SB-leds to leveling-mode
  quad_gantry_level               # Levels the buildplate via QGL
  G28 Z                           # Homes Z again after QGL

  ##  Uncomment for bed mesh (2 of 2)
  BED_MESH_PROFILE LOAD="default"
  RESPOND TYPE=COMMAND MSG="Default mesh loaded"
  SET_DISPLAY_TEXT MSG="Default mesh loaded"  
  #SET_DISPLAY_TEXT MSG="Bed mesh"    # Displays info
  #STATUS_MESHING                     # Sets SB-leds to bed mesh-mode
  #bed_mesh_calibrate                 # Starts bed mesh

  # Heats up the nozzle up to target via data from slicer
  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"             # Displays info
  STATUS_HEATING                                                # Sets SB-leds to heating-mode
  G1 X{x_wait} Y{y_wait} Z15 F9000                              # Goes to center of the bed
  M107                                                          # Turns off partcooling fan
  M109 S{target_extruder}                                       # Heats the nozzle to printing temp

  # Gets ready to print by doing a purge line and updating the SB-leds
  SET_DISPLAY_TEXT MSG="Imprimiendo"               # Displays info
  STATUS_PRINTING                                  # Sets SB-leds to printing-mode
  G0 X10 Y4 F10000                                 # Moves to starting point
  G0 Z0.4                                          # Raises Z to 0.4
  G91                                              # Incremental positioning 
  G1 X250 E20 F1000                                # Purge line
  G90                                              # Absolut position


#---------------------------------------------------------------------------------------------------
#     Macro de fin de impresión 
#---------------------------------------------------------------------------------------------------   
[gcode_macro PRINT_END]#
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F10000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G28 x y  #G0  X125 Y250 F3600  ; park nozzle at rear
    BED_MESH_CLEAR
    M117  Finshed
    
#---------------------------------------------------------------------------------------------------
#     Macro para bucle de monitoreo de la temperatura de la electronica
#---------------------------------------------------------------------------------------------------  
[delayed_gcode skirt_fan_boot]
initial_duration: 1.0
gcode:
  {% if printer.print_stats.state|lower != "printing" %}
    SET_FAN_SPEED FAN=controller_fan SPEED=0.0
  {% else %}
    SET_FAN_SPEED FAN=controller_fan SPEED=0.75 #just so I can see if this is getting called
  {% endif %}
  UPDATE_DELAYED_GCODE ID=skirt_fan DURATION=5

# Pi temperature monitoring loop. Chequea la temp cada 5 minutos y enciende los ventiladores de la falta si está demasiado caliente. Los apaga si está frio
[delayed_gcode skirt_fan]
gcode:
  {% if printer.print_stats.state|lower != "printing" %}
    {% if printer['temperature_sensor pi_4_mcu'].temperature >= 50 %}
      SET_FAN_SPEED FAN=controller_fan SPEED=1
    {% elif  printer['temperature_sensor pi_4_mcu'].temperature < 40 %}
      SET_FAN_SPEED FAN=controller_fan SPEED=0
    {% endif %}
  {% else %}
    SET_FAN_SPEED FAN=controller_fan SPEED=1
  {% endif %}
  UPDATE_DELAYED_GCODE ID=skirt_fan DURATION=300

[delayed_gcode _NEVERMORE_OFF]
gcode:
    SET_FAN_SPEED FAN=nevermore_fan SPEED=0