####################################################################################
#	Fan Control
####################################################################################

[heater_fan hotend_fan] # 喉管冷却风扇
##	Hotend Fan - FAN0 Connector
pin: EBBCan: PA0
max_power: 1.0                      # 最大转速
kick_start_time: 0.5                # 启动时间（勿动）
heater: extruder                    # 关联的设备：挤出机
heater_temp: 50.0                   # 挤出机达到多少度启动风扇
##	If you are experiencing back flow, you can reduce fan_speed
fan_speed: 1.0                      # 风扇转速

[fan]                               # 模型冷却风扇
##	Print Cooling Fan - FAN1 Connector
pin: EBBCan: PA1                            # 信号接口v2.x
max_power: 0.4                      # 最大转速
kick_start_time: 0.5                # 启动时间（勿动）
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10                     # 勿动

#[heater_fan controller_fan]         # 电器仓风扇
[fan_generic controller_fan]
##	Controller fan - FAN2 Connector
pin: PC8                            # Interfaz de señal
max_power: 1.0
kick_start_time: 0.0

#kick_start_time: 0.5                # Hora de inicio (no te muevas)
#heater: heater_bed                  # Equipo asociado: cama caliente
#heater_temp: 45.0                   # ¿A qué temperatura alcanza la cama calentada para encender el ventilador?

#[heater_fan exhaust_fan]            # Extractor de aire de la cámara de impresión
##  Exhaust fan - In E2 OUT Positon
#pin: PB3                            # Interfaz de señal
#max_power: 1.0                      # Velocidad máxima
#shutdown_speed: 0.0                 # Velocidad de cierre (no te muevas)
#kick_start_time: 5.0                # Hora de inicio (no te muevas)
#heater: heater_bed                  # Equipo asociado: cama caliente
#heater_temp: 60                     # ¿A qué temperatura alcanza la cama calentada para encender el ventilador?
#fan_speed: 1.0                      # velocidad del ventilador

[fan_generic nevermore_fan]
## Nevermore - FAN4 on Octopus
pin: PB3
max_power: 1.0
kick_start_time: 0.0

#[fan_generic extruder_partfan]
#pin: PB3
#max_power: 1.0 
#shutdown_speed: 0.0 
#cycle_time:
#hardware_pwm:
#kick_start_time:  5.0
#off_below: 0.10
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin: